* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body{
  background-color: rgba(0, 0, 0, 0.083);
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}
.menu-cart-container{
  display: flex;
  flex-direction: column;
  flex:1;
  width: 250px;
}
.menu-positions{
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.menu-position{
  width: 300px;
  margin-top: 1em;
}
main{
  display: flex;
  max-width: 1280px;

}
.menu-items{
  width: inherit;
  
}
.menu-item{
  padding: 1em;
}
.cart{
 background-color:rgb(243, 204, 76);
 width: inherit;
 height: 250px;
 margin-top: 3em;
 border-radius: 5px;
}
.cart-header{
  display: flex;
}
.visually-hidden{
  display: none;
}
.menu{
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: inherit;
  border-radius: 5px;
}
.logo{
  width: 200px;
}
.circle{
  width: 200px;
}
a{
  color:rgb(21, 110, 174);
}
.white-text{
  color: rgb(255, 255, 255);
}
.cart-button{
  background: rgb(241, 186, 7);
  border: none;
  border-radius: 5px;
  width: 125px;
  height: 25px;
  box-shadow: 2px 2px 2px rgb(28, 13, 2);
}
.cart-text{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  
}
.cart-text-cont{
  display: flex;
}
.checkout{
  display: flex;
  flex-direction: column;
}
.checkout-btn{
  background-color: rgb(110, 110, 110);
  width: 150px;
  height: 30px;
  margin-top: 2em;
  font-size: 1em;
  border: none;
  box-shadow: 1px 1px black;
}
.cart-btn-text{
  color: aliceblue;
  text-decoration: none;
}
b.cart-text{
  margin-top: 1em;
}
.name-product, .change-ingredients, .add-to-cart-and-price{
  padding: 1em 0;
}

hr {
  margin-top: 1em;
  
}

