*{
  margin: 0 auto;
  list-style-type: none;
}
.menu-cart-container{
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  flex:1;
}
.menu-positions{
  background-color: bisque;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.menu-position{
  flex-basis: 30%;
}
main{
  display: flex;
  width: 1280px;

}
.menu-items{
  background-color: aqua;
}
.cart{
  background-color: brown;
}
.visually-hidden{
  display: none;
}