* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body{
  background-color: rgba(0, 0, 0, 0.083);
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}
.menu-cart-container{
  display: flex;
  flex-direction: column;
  flex:1;
  width: 300px;
  justify-content: space-between;
}
.menu-positions{
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.menu-position{
  width: 300px;
  margin-top: 1em;
}
main{
  display: flex;
  max-width: 1280px;

}
.menu-items{
  width: inherit;
}
.menu-item{
  padding: 1em;
}
.cart{
 background-color:rgb(255, 214, 79);
 width: inherit;

}
.cart-header{
  display: flex;
}
.visually-hidden{
  display: none;
}
.menu{
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: inherit;
}
.logo{
  width: 200px;
}
.circle{
  width: 200px;
}
a{
  color:rgb(21, 110, 174);
}